<mat-toolbar color="primary">
  <span>Custom Form</span>
</mat-toolbar>
<mat-card>
  <form [formGroup]="form" fxLayoutAlign="center" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" required />
      <mat-error *ngIf="email?.errors?.['required']">
        Email is required
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Email is not valid
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" required />
      <mat-error *ngIf="password?.errors?.['required']">
        Password is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="relative">
      <mat-label>Code</mat-label>
      <input
        matInput
        formControlName="code"
        required
        placeholder="'code' is the key"
      />
      <mat-icon matSuffix>{{ codeIcon }}</mat-icon>
      <mat-spinner
        class="spinner"
        diameter="30"
        *ngIf="inProgress"
      ></mat-spinner>
      <mat-error *ngIf="code?.errors?.['required']">
        Code is required
      </mat-error>
      <mat-error *ngIf="code?.errors?.['invalidCode']">
        Code is not valid
      </mat-error>
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      [disabled]="form.invalid || inProgress"
    >
      Send
    </button>
  </form>
</mat-card>
